[flake8]
# O black usa 88 caracteres por padrão. Alinhamos o flake8 com ele.
max-line-length = 88
# Ignora o erro E203, pois o black lida com ele de forma diferente.
extend-ignore = E203
# Mantemos as pastas a serem excluídas.
exclude =
    .git,
    __pycache__,
    meuambiente,
    arquivos-temporarios,
    uploads,
    tests